@import "~bootstrap/dist/css/bootstrap.css";
.card{
width: 380px;
height: 400px;
border: 1px solid gray;
margin-bottom: 20px;

}
.card-img-top{
    width: 380px;
height: 250px;
}
.card-body{
    width: 380px;
    text-align: center;
}
.card-footer{
    padding:0;
}
.sticky-top{
    top:80px;
}